

/* transição para botao */
@keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
    }
    40% {
      clip-path: circle(40%);
    }
    100% {
      clip-path: circle(125%);
    }
  }
  
  .animated-element {
    /* Estilo inicial do elemento antes da animação */
    clip-path: circle(100%);
    transition: clip-path 2.5s cubic-bezier(.25, 1, .30, 1) both;
  }
  
  .animated {
    clip-path: circle(125%); /* Define o estado final da animação */
  }

  body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
  }
  

  a {
    color: white; /* Cor padrão do link */
    text-decoration: none; /* Remova a sublinhado padrão */
    transition: color 0.3s; /* Adicione uma transição de cor com duração de 0.3 segundos */
  }
  
  a:hover {
    color: orange; /* Cor do link quando o mouse está sobre ele */
  }

header img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 5px solid orange;
}

.center {
    text-align: center;

}

h1 {
    color: orange;
    text-align: center;

}

.nomesTech {
    display: flex;
    justify-content: center;
}
.tecImg {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;

}

footer img {
    width: 50px;
    height: 50px;

}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: orange;
}

.flags img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    
}
    
    
.contatos img {

    width: 50px;
    height: 50px;
    border-radius: 50%;


}

.contato-form input {
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
}

.contato-form input[type=text] {
    height: 100px;
}
button{
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}

